$gradient1:Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
$gradient2:Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
$desaturatedRed:hsl(0, 36%, 70%);
$softRed:hsl(0, 93%, 68%);
$darkGrayishRed: hsl(0, 6%, 24%);

.right-col{
    margin: 0!important;
    padding: 0!important;

    .right-banner{
        object-fit: contain;
        object-position: top left;
        height: 100vh;
        width: 100vw;
    }
}
.left-col{
    background-image: url("../img/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    margin: 0;
    padding: 3rem 10rem!important;

    img.logo{
        margin-bottom: 6rem;
    }

    h1{
        text-transform: uppercase;
        font-size: 3.5rem;
        letter-spacing: 25px;
        color: $darkGrayishRed;

        span{
            font-weight: 300;
            color: $desaturatedRed;
        }
    }

    p{
        font-size: 16px;
        line-height: 28px;
        color:$desaturatedRed ;
    }

    form{
        margin-top: 4rem;
        width: 100%!important;
        display: flex;
        align-items: center;

        .input{
            box-shadow: none;
            width: 100%!important;

            &:invalid{
                border-color: $softRed!important;
            }
            
            
        }

        .feedback{
            position: absolute!important;
            color: $softRed;
        }
    }

}